.definition {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: left;
}

.definition-table {
  width: 100%;
}

.definition-table-row {
  display: flex;
}

.definition-table-cell {
  padding: 2px 8px;
}

.definition-table-number {
  flex: 1;
  text-align: right;
  font-weight: 600;

}

.definition-table-word {
  flex: 1;
}
