
.control-slider {
  margin: 30px 100px 0px;
}

.slick-arrow {
}
.slick-arrow:hover {
}
.slick-prev:before, .slick-next:before {
  /* font-size: 45px; */
}

.slide-inner {
  height: calc(100vh - 200px);
  border-radius: 12px;
  background: white;
  margin: 30px 30px 0;
  padding: 16px;
}
