.build-number {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.build-number-button {
  border: 1px solid black;
  padding: 4px;
  border-radius: 4px;
}

.build-number-top-row {
  width: 100%;
  flex: 1;
  display: flex;
  align-items: space-between;
}

.build-number-spacer {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.build-number-number {
  flex: 3;

  margin: 2px;
  font-size: 26px;
  font-weight: bold;
}

.build-number-reset {
  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.build-number-guess {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 8px;
}

.build-number-controls {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.build-number-answers {
  display: flex;
  flex-wrap: wrap;
}

.word-button {
  border-radius: 14px;
  border: 1px solid #555;
  background-color: pink;
  padding: 6px 10px;
  margin: 4px;
}

.guess-word {
  padding: 3px;
}

.guess-word-correct {
  color: darkgreen;
  font-weight: bold;
  animation: pulse 0.3s;
}

.guess-word-incorrect {
  color: red;
  font-weight: bold;
  animation: shake 0.7s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
}

.build-number-success-check {
  color: green;
  border: none;
  margin-bottom: 16px;
}

.build-number-success-next {
  font-weight: bold;
  font-size: 18px;
  padding: 16px 32px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-1px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(1px, 0, 0);
  }
}

@keyframes pulse {
  10%, 90% {
    transform: scale(1.05);
  }

  30%, 70% {
    transform: scale(1.10);
  }

  50% {
    transform: scale(1.15);
  }
}
